<!DOCTYPE html>

<html>
    <head>
        <title>Log In / Sign Up</title>
    </head>
    <body>

        <h1>Log In / Sign Up</h1>

        <h2>Log In</h2>
        <form action="#">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" name="Log In">
        </form>

        <h2>Sign Up</h2>
        <form action="#">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="password-again" placeholder="password again">
            <input type="submit" name="Sigin Up">
        </form>

    </body>
</html>
